# Django
DJANGO_SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost
CSRF_TRUSTED_ORIGINS=http://localhost:8000

# Database (MariaDB)
# Database engine switch: sqlite | mysql | mssql
DB_ENGINE_KIND=mssql

# MySQL
MYSQL_NAME=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=
MYSQL_PORT=

# SQL Server (docker container "sqlserver")
MSSQL_NAME=
MSSQL_USER=
MSSQL_PASSWORD=
MSSQL_HOST=
MSSQL_PORT=

# Email (optional)
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_HOST_USER=your_email@example.com
EMAIL_HOST_PASSWORD=your_email_password
EMAIL_USE_TLS=True

RESTORE_DB_TOKEN=
GOOGLE_MAPS_API_KEY=